<!-- templates/envio_html/pagina1.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página 2</title>
    <!-- Agrega tus estilos CSS si es necesario -->
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <header>
        <h1>Página 2</h1>
    </header>

    <main>
        <p>Contenido de la página 2.</p>
    </main>

    <footer>
        <p>Pie de página de la página 2.</p>
    </footer>

    <!-- Agrega tus scripts JavaScript si es necesario -->
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
